@import url("https://use.typekit.net/tpn5wof.css");
body{
    /* background-color: #cccccc; */
    display: block;
    background-image:url('https://github.com/ZhijunSong/MuseumofUs/blob/86c81f182b0c4879c8f2ff3fe6e31857cbe95060/image/backdrop.jpg');
    background-repeat: no-repeat;
    background-position: top; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */


}
li{
    display:block;
    width:30%;
    height:fit-content;
}
h1{
    left: 763px;
    top: 50px;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    text-align: right;
    display:block;
    color: #ffffff;
}
h2{
  
    left: 77px;
    font-family: roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #FFFFFF;
}
h3{
  
    left: 50px;
    font-family: roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #000000;
}
p{
    left: 77px;
    top: 135px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #FFFFFF;
}
#title{
    position:absolute;
    top:50px;
    right:50px;
}

#headerDeco{

    /* position: absolute; */
    width: 200px;
    left: 77px;
    top: 92px;
    font-weight: 900;
    height: 1px;

}
.intro{
    display:block;
    margin-left:50px;
    margin-top:50px;
}
svg{
    display:block;
}

/*map css*/
.container{
    width:100%;
    height: 100%;
    display:flex;
    background:black;
}
#sidebar{
    width:30%;
    height:100%;
    display:flex;
    position: absolute;
    bottom:0px;
    top:0;
    left:0px;
    flex-direction: column;
    background-color: rgb(255, 208, 79);

}
#sidebar li{
    width:90%;
    margin-inline-start: auto;
    margin-inline-end: auto;

}
#sidebar li p{
    color:black;
}
#map{
    background-color: black;
    background-image: none !important;
}

v-btn#exit {
    display: block;
    background: red;
    color: white;
    position: absolute;
    left: 350px;
    padding: 5px 11px;
    font-family: roboto;
    font-weight: 800;
    font-size: 50px;
}
svg{
    display:block;
    /* position:absolute; */
    /* right:10px; */
    height:auto;
}
.station{
    color:white;
    font-family: roboto;
    font-size: 20px;
}
.stops{
    display:block;
}
