@import url("https://use.typekit.net/tpn5wof.css");

html, body {
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}
canvas {
    display: inline-block;
    width: 100% !important;
    height:100% !important;
}
#canvas{
    display:inline-block;
    width: 80%;
    height:max-content;
}
#app1 {
    margin: 20px 50px;
}

body{
    background-color: #000000;
    display: block;
    /* background-image: url("../image/backdrop.jpg"); */
    background-image:url('https://raw.githubusercontent.com/ZhijunSong/MuseumofUs/main/image/backdrop.jpg');
    background-repeat: no-repeat;
    background-position: 0 -500px;
    background-size: 90% auto;
     /* object-fit:scale-down; */
    background-position:top; /* Center the image */
    /* height:1200px; */
    /* background-size: cover; Resize the background image to cover the entire container */
    /* object-fit: ; */

}
li{
    display:block;
    width:30%;
    height:fit-content;
}
h1{
    left: 763px;
    top: 50px;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    text-align: right;
    display:block;
    color: #ffffff;
}
h2{
  
    left: 77px;
    font-family: roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #FFFFFF;
}
h3{
  
    left: 50px;
    font-family: roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #000000;
}
p{
    left: 77px;
    top: 135px;
    text-transform: lowercase !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    /* text-transform: capitalize; */

    color: #FFFFFF;
}
#title{
    position:absolute;
    top:50px;
    right:50px;
}

#headerDeco{

    /* position: absolute; */
    width: 200px;
    left: 77px;
    top: 92px;
    font-weight: 900;
    height: 1px;

}
.intro{
    display:block;
    margin-left:50px;
    margin-top:50px;
}
svg{
    display:block;
    margin-top:-100px;
}

svg:hover{
    transform: scale(1.1);
}
/*map css*/
.container{
    width:fit-content;
    height: fit-content;
    display: inline-flex;
    background: black;
    justify-content: flex-end;
    align-content: space-around;
    align-items: center;
}


element.style {
    width: 4032px;
    height: 2863px;
}
canvas#soundviz {
    top: 60%;
    display: block;
    position: absolute;
    height: 10% !important;
    top: 60%;
    left: 50%;
    width: 50% !important;
    height: 100%;
    z-index: -1;
}
/*sidebar*/
#sidebar{
    width: 20%;
    height: auto;
    display: inline-block;
    position: fixed;
    bottom: 0px;
    top: 0;
    left: 0px;
    flex-direction: column;
    background-color: rgb(255, 208, 79);
    overflow-y: scroll;

}
#sidebar li{
    width:90%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    position: sticky;
    
}
#sidebar li p{
    color:black;
}
/*map*/
#maps{
    /* display:inline-flex; */
    background-color: black;
    background-image: none !important;
    width:100%;
    height:100%; 

}

#mapbox{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: inline-flex;
    justify-content: flex-end;
}



v-btn#exit a{
    display: block;
    background: red;
    color: white;
    position: absolute;
    left: 350px;
    top:10px;
    padding: 5px 11px;
    font-family: roboto;
    font-weight: 800;
    font-size: 50px;
    text-decoration: none;
}
v-btn#exit a:hover{
    transform:scale(1.1);

}
svg{
    display:block;
    /* position:absolute; */
    /* right:10px; */
    height:auto;
}
.station{
    color:white;
    font-family: roboto;
    font-size: 20px;
}
.stops{
    display:block;
}

i {
    padding: 20px 0px;
    color: rgb(255, 208, 79);
    display: flex !important;
    bottom: 10px;
    right: 0px;
    justify-content: center;
    font-size: 50px!important;
    text-decoration: none !important;
}



ul{
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start:0px;
}
#stops{
    display:block;
    position: absolute;
    right: 0;
}

#stop {
    display: block;
    color: white;
    width: fit-content;
    /* right: 20px; */
    /* top: 10px; */
    margin-bottom: 240%;
}


#stop h3{
    width: 100%;
    color:white;
    justify-content: center;   
    text-decoration: overline white;

    /* text-decoration: overline white; */
}
#stop img{
    display: block;
    width: 250px;
    height:auto;
}
#loc{
    display:block;
    position:absolute;
    height:100%;
    right:40%;
}
#loc svg{
    position:absolute;
    height:1000%;
    z-index: -1;
}
button#soundstop{
    display:block;
    width:100px;
    height:100px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0) ;
    border: 10px solid  rgb(255, 208, 79);
    margin:200px;
}
button#soundstop:hover {
    background-color: rgb(255, 208, 79);
}

img#backdrop {
    display: block;
    width: 100%;
    object-fit:cover;
    height: 1000px;
    opacity: 0.25;
}
#background {
    width: 100%;
    z-index: -3;
    display: block;
    position: absolute;
}